*.aux
*.bbl
*.blg
*.brf
*.bbl
*.blg
*.log
*.nav
*.out
*.snm
*.toc
*.dvi
*.idx
*.lof
*.ilg
*.nlo
*.nls
*.fdb_latexmk
*.fls
*.ind
.*.sw*
*~
*.~*#
*.synctex.gz
paper.pdf
paper.out
main.pdf
main.out
bak/
.DS_Store
*.gz*busy*
